li{
	list-style: none;
}

.form-search{
	width: 50%;
	padding: 50px 0px;   
}

.slide-main{
	width: 50%;
	padding: 80px 0px;
}

.header-booking {
	margin: 0 auto;
	text-align: center;
    width: 350px;
    height: 50px;
    background: red;
    color: #fff!important;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 15px 15px 0 0;
    font-size: 20px!important;
}

#demo{
	box-shadow: 0 10px 50px 0 rgba(0,0,0,.25);
}

.other{
	width: 350px;
}

.other h4{
	font-size: 18px;
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	background: #6c757d;
	color: #fff;
	margin-bottom: 0;
}

.other a{
	text-decoration: none;
}

.other h5{
	font-size: 14px;
	color: #fd7e14;
}

.other h5:hover{
	color: #dc3545;
}

.header-booking h1{
	font-size: 18px;
}

.label-normal{
	font-weight: 400;
}

.dialog-datve {
	margin: 0 auto;
    background: #fff;
    width: 350px;
    height: 300px;
    vertical-align: middle;
    border-radius: 0 0 15px 15px;
    border: 1px dotted #378a42;
    box-shadow: 0 10px 50px 0 rgba(0,0,0,.25);
    z-index: 99999999;
    padding: 15px;
}

@media screen and (max-width: 768px) {
	.slide-main{
		display: none;
	}
	.form-search{
		width: 100%;
	}
	.header-booking{
		width: 100%;
	}

	.dialog-datve{
		width: 100%;
	}

	.list-news ul{
		padding-left: 0;
	}

	.other{
		width: 100%;
	}
}

.mini-logo{
	font-size: 15px;
}

.logo{
	height: 60px;
	font-size: 30px;
	font-family: 'Pacifico', cursive;
	-webkit-text-stroke: 1px black;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

@media screen and (max-width: 575px) {
	.navbar-nav .nav-link{
		border-bottom: 1px solid #fff;
	}

	.hov{
		display: none;
	}
}

@media screen and (min-width: 576px){
	.navbar{
		 height: 60px;
	}

	.logo{
		height: 80px;
		font-size: 40px;
	}

	.navbar-brand {
	    padding-top: 0.5rem !important;
	}

	.mini-logo{
		font-size: 30px;
	}

}

.news h3{
	font-size: 18px;
	padding-bottom: 5px;
	border-bottom: 2px solid #ef5222;
}

.news h4{
	margin-top: 15px;
	margin-bottom: 5px; 
	font-size: 15px;
	color: #ef5222;
	font-weight: bold;
}

.news h3 li{
	color: #ef5222;
}

.first-news img{
	max-width: 100%;
}

.time-up{
	font-size: 13px;
	color: #858e97;
}

.news p{
	margin-top: 10px; 
	font-size: 15px;
}

.tuyenxe h3{
	font-size: 18px;
	padding-bottom: 5px;
	border-bottom: 2px solid #ef5222;
}

.btn-date{
	width: 110px;
	font-size: 14px;
}


.footer{
	background: #ef5222;
	padding-top: 30px;
	padding-bottom: 20px; 
}

.footer h4{
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}

.footer a{
	color: rgba(255,255,255,.5);
}

.hov{
	background: #fff; 
	height: 1px;
	width: 0%;
}

.nav-item:hover .hov{
	width: 100%;
	transition: 0.5s;
}

.panel{
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	height: 50px;
}

.top-title h4{
	padding: 20px 0px;
}

.list-new a{
	text-decoration: none;
}

.list-new h5{
	font-size: 17px;
	color: #fd7e14;
}

.list-new h5:hover{
	color: #dc3545;
}

.list-new p{
	font-size: 13px;
}

.list-new table tr td{
	padding-top: 20px;
	padding-bottom: 20px;
}
.news table tbody tr td h5{
	font-size: 14px;
	color: #fd7e14;
}

.news table tbody tr td h5:hover{
	color: #dc3545;
}

.news a{
	text-decoration: none;
}


.contact p {
    color: #ef5222;
    text-align: justify;
    line-height: 30px;
}
.hotline-part h3 {
    color: #00613d;
    margin: 6px 0 24px;
    font-weight: bold;
    padding-right: 25px;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
}

.hotline-part span {
    color: #ef5222;
    font-size: 32px;
    font-weight: bold;
}

.hotline-part span a{
    color: #ef5222;
}

.item-block {
    background: #fff;
    margin: 20px 0;
    padding: 10px;
}

.text-center {
    text-align: center;
}

.item-block a{
	color: #ef5222;
	font-weight: normal;
	text-decoration: none;
	font-size: 14px;
}

.item-block p{
	font-size: 14px;
}